section.kv-section.helper-page
	.container
		.kv-title
			p hỗ trợ khách hàng
		.tab-panels
			.row
				.col-lg-9.left
					#panel-1.panel.active
						.title Hướng dẫn đặt hàng
						.full-content
							p Quý khách có thể đặt mua hàng trực tuyến tại website Japana.vn thông qua các bước đơn giản sau :
							h5 1. tìm kiếm sản phẩm
							p Qúy khách có thể tìm sản phẩm theo 3 cách: 
							p a. Gõ tên sản phẩm vào thanh tìm kiếm
							p b. Tìm theo danh mục
							p c. Tìm theo các sản phẩm mới nhất, bán chạy hoặc danh mục phổ biến trên từng ngành hàng
							h5 2. thêm sản phẩm vào giỏ hàng
							p Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào hình hoặc tên sản phẩm để vào được trang thông tin chi tiết của sản phẩm, sau đó:
							p a. Kiểm tra thông tin sản phẩm: giá, thông tin khuyến mãi. 
							p b. Chọn số lượng mong muốn. 
							p c. Thêm sản phẩm vào giỏ hàng.
							h5 3. kiểm tra giỏ hàng
							p Trong giỏ hàng thể hiện đầy đủ thông tin số lượng sản phẩm và tổng giá trị tiền hàng. Quý khách vui lòng kiểm tra đúng sản phẩm, số lượng và giá trị tiền hàng. 
							p Tại giỏ hàng, Quý khách có thể chọn mua thêm sản phẩm khác hoặc chọn huỷ một sản phẩm bất kỳ.
							h5 4. điền thông tin địa chỉ giao nhận hàng
							p Quý khách phải điền đầy đủ thông tin của người mua và nhận hàng, Chúng tôi cam kết sẽ giữ bí mật thông tin cá nhân của quý khách.
							p Trên cơ sở thông tin quý khách cung cấp, Siêu Thị Nhật Bản Japana.vn sẽ tiến hành các thủ tục còn lại để giao hàng
							h5 5. phương thức thanh toán
							p Hiện tại Siêu Thị Nhật Bản Japana.vn có các hình thức thanh toán cho khách hàng lực chọn:
							p - Thanh toán khi nhận hàng (COD) - Áp dụng toàn quốc.
							p - Thanh toán trực tiếp tại Văn phòng đại diện Công ty CP Japana Việt Nam
							p Nếu các thông tin trên đã chính xác, quý khách vui lòng bấm "Đặt Mua", hệ thống sẽ bắt đầu tiến hành tạo đơn hàng dựa trên các thông tin quý khách đã đăng ký.
							h5 6. kiểm tra và xác nhận đơn hàng
							p Quý khách có thể vào email của mình để nhận thư xác nhận đặt hàng
							h5 7. Hoàn tất đơn hàng
							p Sau khi đơn hàng đã được xác nhận bằng email, bộ phận chăm sóc khách hàng của Siêu Thị Nhật Bản Japana.vn sẽ gọi điện trực tiếp cho quý khách hàng thông qua số điện thoại mà quý khách hàng đã cung cấp để xác nhận lại một lần nữa về đơn hàng.
					#panel-2.panel
						.title Phương thức vận chuyển
					#panel-3.panel
						.title Chính sách đổi trả
					#panel-4.panel
						.title Chính sách bảo mật thanh toán
					#panel-5.panel
						.title Chính sách bảo mật thông tin
				.col-lg-3.right
					.other-title chủ đề
					p.category-nav Danh mục
						em.material-icons keyboard_arrow_down
					ul.tabs
						li.active(rel='panel-1') Hướng dẫn đặt hàng
						li(rel='panel-2') Phương thức vận chuyển
						li(rel='panel-3') Chính sách đổi trả
						li(rel='panel-4') Chính sách bảo mật thanh toán
						li(rel='panel-5') Chính sách bảo mật thông tin
					.img
						img(src="./assets/ho-tro.png", alt="")
