section.kv-section.about-1
	.container
		.row
			.col-lg-6.col-md-6
				.img
					img(src="./assets/about/about-1.png" alt="")
			.col-lg-6.col-md-6
				.kv-title
					p về nikenko
				.content
					.desc
						p Nikenko là kênh mua bán trực tuyến thuộc Công ty TNHH XNK Nikenko - đơn vị có nhiều năm kinh nghiệm trong lĩnh vực kinh doanh hàng xuất nhập khẩu chính hãng. Nikenko cung cấp đa dạng và phong phú các sản phẩm thuộc 9 ngành hàng: Chăm sóc sức khỏe trẻ em, Bổ sung vitamin và khoáng chất, Bổ tim mạch, huyết áp và mỡ máu, Bổ mắt và tăng cường thị lực, Bổ thận, mát gan và giải độc, Sức khỏe và hệ tiêu hóa ,Bổ sung collagen và làm đẹp, Bổ não và tăng cường trí nhớ,Thiết bị y tế cá nhân.  

						p Nikenko là nơi mua sắm tiện lợi cho khách hàng với các dòng sản phẩm đạt tiêu chuẩn chất lượng quốc tế và giá cả cạnh tranh được nhập trực tiếp từ các quốc gia như: Nhật Bản, Hàn Quốc, Mỹ,...

						p Tự hào khi được các đối tác tin tưởng và lựa chọn hợp tác cùng công ty, đến nay Nikenko đã hợp tác với rất nhiều thương hiệu lớn nhỏ cung cấp và phân phối sản phẩm như: Shopee, Japana, tiki, Orihiro, DHC, guardian, Shiseido,... Trong tương lai, Nikenko hứa hẹn sẽ mở rộng hợp tác với nhiều thương hiệu hơn nữa để mang sản phẩm đến gần hơn với người tiêu dùng.

						p Với những sản phẩm chất lượng và tiện lợi, dịch vụ bán hàng, chăm sóc khách hàng hiệu quả, chuyên nghiệp, tận tâm, Nikenko sẽ góp phần cho cuộc sống của quý khách hàng tiện nghi và  hiện đại và hơn.
