section.kv-section.tuyendung-page
	.container
		.row
			.col-xl-6.col-md-12.col-lg-6.box-left 
				.img
					img(src="./assets/news/tuyen-dung.png" alt="")
			.col-xl-6.col-md-12.col-lg-6.box-right
				.content
					.kv-title
						p tuyển dụng
					.desc
						p Với đội ngũ nhân viên được đào tạo chuyên nghiệp, tận tâm phục vụ với thái độ thân thiện, nhiệt tình, luôn đặt lợi ích của khách hàng lên hàng đầu cộng với sự cam kết về chất lượng sản phẩm, dịch vụ mà công ty cung cấp, Nikenko đã được các công ty, tập đoàn lớn hợp tác để cung cấp và phân phối sản phẩm đến người tiêu dùng.  
						p Trong tương lai, Nikenko sẽ phát triển mạnh mẽ hơn, mang lại hiệu quả cao, góp phần xác lập uy tín, vị thế của công ty trên thị trường trong và ngoài nước.
section.kv-section.list-tabel
	.container
		.kv-title
			p vị trí ứng tuyển
		table
			thead
				tr
					th STT
					th Vị trí ứng tuyển
					th Khu vực
					th Số lượng
					th Thời hạn

			tbody
				tr
					td 01
					td 
						a(href="chi-tiet-tuyen-dung.html") Nhân Viên Kỹ Thuật dịch vụ
					td TP.HCM
					td 01
					td 05/05/2020
				tr
					td 01
					td
						a(href="") Nhân Viên Kỹ Thuật dịch vụ
					td TP.HCM
					td 01
					td 05/05/2020
				tr
					td 01
					td
						a(href="") Nhân Viên Kỹ Thuật dịch vụ
					td TP.HCM
					td 01
					td 05/05/2020
				tr
					td 01
					td
						a(href="") Nhân Viên Kỹ Thuật dịch vụ
					td TP.HCM
					td 01
					td 05/05/2020
				tr
					td 01
					td
						a(href="") Nhân Viên Kỹ Thuật dịch vụ
					td TP.HCM
					td 01
					td 05/05/2020
				tr
					td 01
					td
						a(href="") Nhân Viên Kỹ Thuật dịch vụ
					td TP.HCM
					td 01
					td 05/05/2020
				tr
					td 01
					td
						a(href="") Nhân Viên Kỹ Thuật dịch vụ
					td TP.HCM
					td 01
					td 05/05/2020
		.hr-v-mobile.row
			-for(i=1; i<5; i++)
				.col-md-6
					a.item(href="")
						h1 Kỹ sư công trình
						p 
							em.mdi.mdi-account-group
							span Số lượng: 01
						p
							em.mdi.mdi-map-marker
							span Khu vực: TP.Hồ Chí Minh
						p
							em.mdi.mdi-clock-start
							span Ngày bắt đầu: 05/05/2020
						p
							em.mdi.mdi-clock-end
							span Hạn nộp hồ sơ: 31/06/2020
						.btn-apply Ứng Tuyển
						.btn-view Xem chi tiết
		.pages
			.modulepager
				ul.pagination
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3

