section.kv-section.home-3
    .container
        .kv-title
            p sản phẩm mới
        .row
            .col-xl-3.col-lg-3
                .small-img
                    .row
                        .col-lg-12.col-md-6
                            .item-pro-new
                                a(href="")
                                    figure
                                        .img
                                            img(src="./assets/index/pro-new-1.png", alt="")
                                        figcaption
                                            .desc
                                                h1 DHC Collagen Nhật Bản
                        .col-lg-12.col-md-6
                            .item-pro-new
                                a(href="")
                                    figure
                                        .img
                                            img(src="./assets/index/pro-new-2.png", alt="")
                                        figcaption
                                            .desc
                                                h1 DHC Collagen Nhật Bản
            .col-xl-6.col-lg-6
                .big-img
                    .item-pro-new
                        a(href="")
                            figure
                                .img
                                    img(src="./assets/index/pro-new-3.png", alt="")
                                figcaption
                                    .desc
                                        h1 GH-Creation Ex Nhật Bản
            .col-xl-3.col-lg-3
                .small-img
                    .row
                        .col-lg-12.col-md-6
                            .item-pro-new
                                a(href="")
                                    figure
                                        .img
                                            img(src="./assets/index/pro-new-4.png", alt="")
                                        figcaption
                                            .desc
                                                h1 GH-Creation Ex Nhật Bản
                        .col-lg-12.col-md-6
                            .item-pro-new
                                a(href="")
                                    figure
                                        .img
                                            img(src="./assets/index/pro-new-5.png", alt="")
                                        figcaption
                                            .desc
                                                h1 GH-Creation Ex Nhật Bản