section.kv-section.home-4
	.container
		.kv-title
			p nhà sản xuất
		.kv-slide
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<7; i++)
						.swiper-slide
							.item
								.img
									img(src="./assets/index/nsx-"+i+".png", alt="")
			.swiper-button-prev
			.swiper-button-next