extends ../_components/_layout/_layout.pug

block var 
	- let title = 'Chi tet gio hang';
block banner,breadcrumb
block main
	include ../_components/_layout/_breadcrumb.pug
	include ../_components/cart/cart.pug
block scripts