section#page-banner
	.banner__pages
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.img.desktop
						img(src="assets/banner/b-1.png", alt="")
					.img.mobile
						img(src="assets/banner/b-1.png", alt="")
				.swiper-slide
					.img.desktop
						img(src="assets/banner/b-2.png", alt="")
					.img.mobile
						img(src="assets/banner/b-2.png", alt="")
				.swiper-slide
					.img.desktop
						img(src="assets/banner/b-3.png", alt="")
					.img.mobile
						img(src="assets/banner/b-3.png", alt="")
			.swiper-pagination
