section.kv-section.detail-page
	.container
		.row
			.col-lg-9
				.title Tham gia trải nghiệm 30 ngày giảm cân cùng nakatta kotoni nhận ngay giải thưởng lên đến 3,5 triệu đồng
				.bottom-wrapper
					time 20.02.2020
					.social
						.social
							a.face(href="")
								em.fab.fa-facebook-f
							a.twitter(href="")
								em.fab.fa-twitter
				.full-content
					p “Trải nghiệm 30 ngày giảm cân cùng Nakata Kotoni” là chương trình được thực hiện bởi Sakuko Japanese Store với sự tài trợ từ nhà sản xuất GRAPHICO,Inc.
					p
						img(src="./assets/promotion/detail-1.png" alt="")
					p 
						strong tham gia chương trình bạn sẽ được
					ul
						li
							p Sử dụng sản phẩm hỗ trợ giảm cân Nakatta Kotoni miễn phí trong 30 ngày.
						li
							p Tận hưởng mọi bữa ăn mà không lo tăng cân
						li
							p Đặc biệt nhận ngay giải thưởng lên tới 500.000vnd
					p 
						img(src="./assets/promotion/detail-2.png" alt="")
			.col-lg-3
				.other-title khuyến mãi khác
				.other-news
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption  Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption  Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption  Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption  Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption  Hàng Nhật giá Việt, bạt ngàn deal đặc biệt





