section.kv-section.promotion-page
	.container
		.kv-title
			p khuyến mãi
		.row
			.col-lg-6.col-md-6
				.item-big
					.img
						a(href="chi-tiet-khuyen-mai.html")
							img(src="./assets/promotion/promotion-1.png", alt="")
					.desc
						a.title.lcl.lcl-3(href="chi-tiet-khuyen-mai.html") Hàng Nhật giá Việt, bạt ngàn deal đặc biệt lên tới 43% duy nhất tại HCM
						a.view-more(href="chi-tiet-khuyen-mai.html") Xem thêm
			.col-lg-6.col-md-6
				.item-big
					.img
						a(href="chi-tiet-khuyen-mai.html")
							img(src="./assets/promotion/promotion-2.png", alt="")
					.desc
						a.title.lcl.lcl-3(href="chi-tiet-khuyen-mai.html") Hàng Nhật giá Việt, bạt ngàn deal đặc biệt lên tới 43% duy nhất tại HCM
						a.view-more(href="chi-tiet-khuyen-mai.html") Xem thêm
			.col-lg-4.col-md-6
				.item-small
					.img
						a(href="chi-tiet-khuyen-mai.html")
							img(src="./assets/promotion/promotion-3.png", alt="")
					.desc
						a.title.lcl.lcl-3(href="chi-tiet-khuyen-mai.html") Hàng Nhật giá Việt, bạt ngàn deal đặc biệt lên tới 43% duy nhất tại HCM
						a.view-more(href="") Xem thêm
			.col-lg-4.col-md-6
				.item-small
					.img
						a(href="chi-tiet-khuyen-mai.html")
							img(src="./assets/promotion/promotion-4.png", alt="")
					.desc
						a.title.lcl.lcl-3(href="") Hàng Nhật giá Việt, bạt ngàn deal đặc biệt lên tới 43% duy nhất tại HCM
						a.view-more(href="") Xem thêm
			.col-lg-4.col-md-6
				.item-small
					.img
						a(href="chi-tiet-khuyen-mai.html")
							img(src="./assets/promotion/promotion-5.png", alt="")
					.desc
						a.title.lcl.lcl-3(href="chi-tiet-khuyen-mai.html") Hàng Nhật giá Việt, bạt ngàn deal đặc biệt lên tới 43% duy nhất tại HCM
						a.view-more(href="") Xem thêm
			a.view-page(href="") Xem thêm
				em.material-icons expand_more