section.kv-section.detail-page
	.container
		.row
			.col-lg-9
				.title Ăn gì để chắc xương khoẻ khớp?
				.bottom-wrapper
					time 20.02.2020
					.social
						.social
							a.face(href="")
								em.fab.fa-facebook-f
							a.twitter(href="")
								em.fab.fa-twitter
				.full-content
					p Người cao tuổi thường mắc phải những cơn đau nhức khi "trái gió trở trời" hay dân văn phòng mỏi vai, đau cơ luôn tiềm ẩn những nguy cơ về xương khớp thiếu chất. Chính vì vậy, để hệ vận động chắc khoẻ, dẻo dai bạn cần "bỏ túi" ngay những dưỡng chất thiết yếu và các loại thực phẩm tốt cho xương khớp. Hãy cùng Siêu Thị Nhật Bản Japana tìm hiểu nhé!
					p
						img(src="./assets/news/detail-1.png" alt="")
					p 
						strong CANXI
					p Khi nhắc đến xương khớp, nhiều người nghĩ ngay đến canxi và khi nhắc đến canxi nhiều người lại nghĩ ngay đến việc bổ sung sữa. Tuy nhiên, sữa cũng không hẳn là nguồn dưỡng chất duy nhất giàu canxi, đặc biệt là người không phải "tín đồ" của sữa hay các chế phẩm từ sữa.

					p Chứa hàm lượng canxi cao không kém gì sữa, các loại rau xanh đậm như rau dền, bông cải xanh, đậu cô ve,... là một đề cử tuyệt vời Siêu Thị Nhật Bản mách nhỏ cho bạn, không chỉ canxi mà bạn đang bổ sung các vitamin, vi chất tốt cho cơ thể. Ngoài ra, bạn còn có thể kết hợp các loại thực phẩm giàu canxi như đậu phụ, cá mòi đóng hộp (xương) và nước cam trong cùng bữa ăn, vừa có thể nuôi dưỡng xương khớp chắc khoẻ, vừa có bữa ăn phong phú đầy đủ hương vị.
					p 
						img(src="./assets/news/detail-2.png" alt="")
					p 
						strong OMEGA 3
					p Không chỉ tốt cho mắt và hệ tim mạch, Omega 3 còn giúp kháng viêm, giảm thoái hoá khớp, ngăn ngừa tình trạng loãng xương. Không hề “hiếm có khó tìm”, bạn có thể bổ sung Omega 3 qua các loại cá biển (cá hồi, cá thu, cá mòi,...) hay các loại hạt, dầu thực vật, ngũ cốc.

					p Được mệnh danh là "chất bổ cho cả cơ thể", Omega 3 không chỉ tốt cho tim mạch khoẻ mạnh, mắt sáng khoẻ, đây còn là chất kháng viêm hiệu quả, làm dịu đi những cơn đau viêm khớp, giảm thiếu đến 29% nguy cơ mắc các bệnh viêm khớp, thoái hoá xương khớp.​

					p Trong các loại cá biển như cá thu, cá mòi, cá hồi, cá trích,... chứa nhiều Omega 3 cùng DHA và EPA, cùng là những thành phần tốt cho mắt, phát triển trí não và hệ tim mạch khoẻ mạnh. Thêm vào đó, các loại hạt lanh, hạt chia, quả óc chó, đậu nành, cũng là những nguồn thực phẩm giàu Omega 3 hàng đầu, đồng thời bổ sung thêm các vi chất như magie, mangan, đồng cùng chất chống oxy hoá tốt cho cơ thể.
					p 
						img(src="./assets/news/detail-3.png" alt="")
					p 
						strong CHẤT CHỐNG OXY HOÁ
					p Đừng bỏ qua những thực phẩm nhóm rau, củ, quả giàu chất chống oxy hoá vì nghĩ rằng đây không phải là thành phần quan trọng trong xương khớp. Thế nhưng, những cơn đau nhức xương khớp khởi nguồn từ sự thoái hoá, viêm khớp gây nên, và các chất chống oxy hoá góp phần giảm thiểu sự thoái hoá khớp.

					p Thay vì sử dụng thuốc kháng viêm, bạn có thể bổ sung các "chất kháng viêm", chống oxy hoá tự nhiên qua các loại gia vị như tiêu, ớt, gừng, nghệ,... hay những loại hoa quả màu xanh đậm (bông cải xanh, súp lơ, cải bó xôi, rong biển,...). Bên cạnh công dụng tăng cường hệ miễn dịch, giảm các cơn đau nhức xương khớp và hạn chế tình trạng thoái hoá khớp, các thực phẩm này còn giúp bổ sung vi chất thúc đẩy trao đổi chất cho cơ thể tươi trẻ, đầy sức sống.

					p Nhắc đến chất chống oxy hoá, tất nhiên không thể bỏ qua trà xanh - thức uống mỗi ngày của người Nhật, và là bí quyết cơ thể dẻo dai, tinh thần minh mẫn. Trà xanh vừa giúp tăng cường hệ miễn dịch, chống lão hoá và ngăn ngừa loãng xương, vừa nuôi dưỡng làn da trắng hồng, mịn màng.
					p
						strong GLUCOSAMINE VÀ COLLAGEN
					p Bộ đôi thành phần chiếm tỉ lệ lớn trong xương khớp gồm glucosamine và collagen cũng quan trọng không kém canxi nhưng lại thường bị lãng quên. 

					p Trong khi glucosamine là thành phần tạo nên sụn khớp, duy trì hoạt động ở đầu khớp trơn tru và linh hoạt, thì collagen chiếm đến 80% trong cấu tạo xương khớp, vì vậy, bổ sung collagen cho cơ thể góp phần cho xương khớp chắc khoẻ, dẻo dai, phòng ngừa các bệnh trạng như loãng xương, xốp xương.

					p Bạn có thể bổ sung hai thành phần này từ các loại động vật giáp xác như vỏ tôm, cua, sò,... giàu glucosamine, hay trứng, sữa, cam, cá ngừ giàu collagen. 
					p 
						img(src="./assets/news/detail-4.png" alt="")
					p
						strong THỰC PHẨM CHỨC NĂNG CŨNG LÀ THỰC PHẨM
					p Kì thực, hàm lượng dinh dưỡng có trong thực phẩm hàng ngày được hấp thụ ở lượng cực kỳ thấp, đặc biệt các thành phần quan trọng như glucosamine hay collagen. Chính vì vậy, nhiều người đã lựa chọn thực phẩm chức năng như một nguồn dinh dưỡng bổ sung lượng cần thiết cho cơ thể một cách dễ dàng, tiện lợi, có thể mang theo sử dụng mọi lúc mọi nơi.

					p Đúng như tên gọi, thực phẩm chức năng cũng là một dạng thực phẩm, được lọc bỏ những thành phần dư thừa và cô đặc các thành phần chính dưới các dạng mà cơ thể dễ dàng hấp thụ. Thay vì ăn hàm lượng lớn các thực phẩm chỉ để cung cấp 1500mg glucosamine cơ thể cần, bạn có thể dùng 1 - 2 viên uống với hàm lượng tương đương cùng các dưỡng chất giúp hấp thụ tốt hơn, quá tiện lợi phải không nào?

					p Thương hiệu Orihiro Nhật Bản đã nghiên cứu và tạo nên viên uống bổ xương khớp Orihiro Glucosamine, với hàm lượng glucosamine hydrochloride dạng tinh khiết mà cơ thể dễ hấp thụ đến 1500mg. Không chỉ vậy, trong viên uống còn chứa các chiết xuất có lợi cho xương khớp, hấp thụ glucosamine tốt hơn như collagen, tinh chất đậu, canxi, hyaluronic acid,... từ đó nuôi dưỡng hệ xương khớp chắc khoẻ, tăng tiết dịch đầu khớp, xoa dịu những cơn đau nhức và mang lại cơ thể khoẻ mạnh, dẻo dai.
					p 
						img(src="./assets/news/detail-5.png" alt="")
				.attribute
					.att-title 
						span Nguồn tham khảo
						em.material-icons expand_more
					ul
						li
							p Trang web 1:
							a(href="") http://preview7219.canhcam.com.vn/
						li
							p Trang web 2:
							a(href="") http://preview7219.canhcam.com.vn/
						li
							p Trang web 3:
							a(href="") http://preview7219.canhcam.com.vn/
			.col-lg-3
				.other-title tin tức khác
				.other-news
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption.lcl.lcl-2  Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption.lcl.lcl-2  Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption.lcl.lcl-2 Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption.lcl.lcl-2 Hàng Nhật giá Việt, bạt ngàn deal đặc biệt
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/promotion/detail-3.png' alt='')
							.text
								time 20.02.2020
								.caption.lcl.lcl-2 Hàng Nhật giá Việt, bạt ngàn deal đặc biệt





