section.kv-section.news-page
	.container
		.kv-title
			p tin tức
		.zone-nav
			.box-category
				p Danh mục
				em.material-icons expand_more
			ul
				li
					a.nav-link(href="") Chắm sóc sức khoẻ trẻ em
				li
					a.nav-link(href="") Bổ sung vitamin và khoáng chất
				li
					a.nav-link(href="") Bổ mắt và tăng cường thị lực
				li
					a.nav-link(href="hinh-anh.html") Bổ thận mát gan và giải độc
				li
					a.nav-link(href="video.html") Bổ não và tăng cường trí nhớ
				li
					a.nav-link(href="") Thiết bị y tế cá nhân
		.row
			.col-lg-6
				.item-big
					a(href="chi-tiet-tin-tuc.html")
						.img
							img(src="./assets/index/blog-1.png", alt="")
						.content
							.date 20.02.2020
							.title Dầu cá và hàng trăm lợi ích cho sức khỏe con người
							.desc.lcl.lcl-3
								p Dầu cá trước giờ là một thực phẩm khá quen thuộc với tất cả mọi người, đối với phụ nữ, họ nghĩ dầu cá rất tốt cho da, tốt cho mắt trẻ em và tim mạch của
							.view-more
								|Xem thêm
								em.material-icons arrow_forward
			.col-lg-6
				.row
					.col-lg-6.col-md-6.col-sm-6
						.item-small
							a(href="")
								.img
									img(src="./assets/index/blog-2.png", alt="")
								.content
									.date 20.02.2020
									.title Các thành phần không thể thiếu trong vitamin tổng hợp Nhật
					.col-lg-6.col-md-6.col-sm-6
						.item-small
							a(href="")
								.img
									img(src="./assets/index/blog-3.png", alt="")
								.content
									.date 20.02.2020
									.title Các thành phần không thể thiếu trong vitamin tổng hợp Nhật
					.col-lg-6.col-md-6.col-sm-6
						.item-small
							a(href="")
								.img
									img(src="./assets/index/blog-4.png", alt="")
								.content
									.date 20.02.2020
									.title Các thành phần không thể thiếu trong vitamin tổng hợp Nhật
					.col-lg-6.col-md-6.col-sm-6
						.item-small
							a(href="")
								.img
									img(src="./assets/index/blog-5.png", alt="")
								.content
									.date 20.02.2020
									.title Các thành phần không thể thiếu trong vitamin tổng hợp Nhật
			.col-lg-4.col-md-6.col-sm-6
				.item-small
					a(href="")
						.img.h-custom
							img(src="./assets/index/blog-3.png", alt="")
						.content
							.date 20.02.2020
							.title Các thành phần không thể thiếu trong vitamin tổng hợp Nhật
			.col-lg-4.col-md-6.col-sm-6
				.item-small
					a(href="")
						.img.h-custom
							img(src="./assets/index/blog-4.png", alt="")
						.content
							.date 20.02.2020
							.title Các thành phần không thể thiếu trong vitamin tổng hợp Nhật
			.col-lg-4.col-md-6.col-sm-6
				.item-small
					a(href="")
						.img.h-custom
							img(src="./assets/index/blog-5.png", alt="")
						.content
							.date 20.02.2020
							.title Các thành phần không thể thiếu trong vitamin tổng hợp Nhật
			.pages 
				.modulepager
					ul.pagination 
						li.active
							a(href="")  1
						li 
							a(href="") 2
						li 
							a(href="") 3