<?xml version="1.0" encoding="utf-8" ?>
<templates>
    <position>
        <add name="Sản phẩm đã xem - tự động" value="0" resourcefile="" />
        <add name="Sản phẩm trang chủ" value="1" resourcefile="" />
        <add name="Sản phẩm trang chủ - mới" value="2" resourcefile="" />
        <add name="Sản phẩm đã xem" value="4" resourcefile="" />
        <add name="Sản phẩm đặc biệt 1" value="8" resourcefile="" />
        <add name="Sản phẩm đặc biệt 2" value="16" resourcefile="" />
        <add name="Sản phẩm đặc biệt 3" value="32" resourcefile="" />
    </position>
    <showoption name="Mới" value="1" class="promotion op1" />
    <showoption name="Khuyến mãi" value="2" class="promotion op2" />
    <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
    <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />
    <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>